addict==2.4.0
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
appdirs==1.4.4
attrs==23.1.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==3.0.1
cityscapesScripts==2.2.2
click==8.1.3
codecov==2.1.13
colorama==0.4.6
coloredlogs==15.0.1
coverage==7.2.7
crcmod==1.7
cryptography==41.0.3
cycler==0.11.0
docker-pycreds==0.4.0
einops==0.6.0
exceptiongroup==1.1.3
filelock==3.12.2
flake8==5.0.4
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
fsspec==2023.1.0
gitdb==4.0.10
GitPython==3.1.31
grad-cam==1.4.6
huggingface-hub==0.15.1
humanfriendly==10.0
idna==3.4
imageio==2.25.1
importlib-metadata==4.2.0
iniconfig==2.0.0
install==1.3.5
interrogate==1.5.0
isort==4.3.21
jmespath==0.10.0
joblib==1.2.0
keopscore==2.1.2
kiwisolver==1.4.4
Markdown==3.4.4
markdown-it-py==2.2.0
matplotlib==3.5.3
mccabe==0.7.0
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
mmcls==0.25.0
mmcv-full==1.2.5
mmengine==0.8.4
mmsegmentation==0.30.0
model-index==0.1.11
networkx==2.6.3
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1653915516269/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python==4.4.0.46
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.10
ordered-set==4.1.0
oss2==2.17.0
packaging==23.0
pandas==1.3.5
pathtools==0.1.2
Pillow==9.3.0
platformdirs==3.10.0
pluggy==1.2.0
prettytable==3.7.0
protobuf==3.20.3
psutil==5.9.4
py==1.11.0
pybind11==2.10.4
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.18.0
pyflakes==2.5.0
Pygments==2.16.1
pyinstrument==4.4.0
pykeops==2.1.2
pyparsing==3.0.9
pyquaternion==0.9.9
pytest==7.4.1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.3.0
PyYAML==6.0
requests==2.28.2
rich==13.5.2
safetensors==0.3.1
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
screen==1.0.1
sentry-sdk==1.15.0
setproctitle==1.3.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
skylibs==0.7.2
smmap==5.0.0
sphericaldistortion @ git+https://github.com/dompm/spherical_distortion.git@bac6002f7808e32b5b601fbabc86d283761c35d4
tabulate==0.9.0
tensorboardX==2.6
termcolor==1.1.0
terminaltables==3.1.10
threadpoolctl==3.1.0
tifffile==2021.11.2
timm==0.4.12
toml==0.10.2
tomli==2.0.1
torch==1.8.0
torchvision==0.9.0
tqdm==4.65.0
ttach==0.0.3
typing==3.7.4.3
typing_extensions==4.7.1
urllib3==1.26.14
wandb==0.13.10
wcwidth==0.2.6
xdoctest==1.1.1
yacs==0.1.8
yapf==0.33.0
zipp==3.14.0
